<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    {{ title }}
   <div class="main">
    <h3>Days: {{days}}</h3>
    <h4>Hours: {{hours}}</h4>
    <h4>Minutes: {{minutes}} </h4>
    <h4>Seconds: {{seconds}}</h4>
   </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      preserveAspectRatio="xMidYMid meet"
      viewBox="0 0 640 640"
      width="auto"
      height="auto"
    >
      <defs>
        <path
          d="M457.2 105.73C522.14 105.73 574.76 166.54 574.76 241.55C574.77 449.29 339.65 552.38 339.65 558.1C339.65 558.1 339.65 558.1 339.65 558.1C339.65 552.38 104.52 449.29 104.52 241.54C104.52 166.53 157.16 105.71 222.09 105.71C287.01 105.71 339.65 158.99 339.64 234.02C339.64 159.01 392.27 105.73 457.2 105.73Z"
          id="fqSzph1zk"
        />
      </defs>
      <g>
        <g>
          <g>
            <g>
              <filter
                id="shadow10576042"
                x="95.52"
                y="96.71"
                width="489.24"
                height="471.38"
                filterUnits="userSpaceOnUse"
                primitiveUnits="userSpaceOnUse"
              >
                <feFlood />
                <feComposite in2="SourceAlpha" operator="in" />
                <feGaussianBlur stdDeviation="1" />
                <feOffset dx="1" dy="1" result="afterOffset" />
                <feFlood flood-color="#000000" flood-opacity="0.97" />
                <feComposite in2="afterOffset" operator="in" />
                <feMorphology operator="dilate" radius="1" />
                <feComposite in2="SourceAlpha" operator="out" />
              </filter>
              <path
                d="M457.2 105.73C522.14 105.73 574.76 166.54 574.76 241.55C574.77 449.29 339.65 552.38 339.65 558.1C339.65 558.1 339.65 558.1 339.65 558.1C339.65 552.38 104.52 449.29 104.52 241.54C104.52 166.53 157.16 105.71 222.09 105.71C287.01 105.71 339.65 158.99 339.64 234.02C339.64 159.01 392.27 105.73 457.2 105.73Z"
                id="bChvENbPx"
                fill="white"
                fill-opacity="1"
                filter="url(#shadow10576042)"
              />
            </g>
            <use
              xlink:href="#fqSzph1zk"
              opacity="1"
              fill="#f31729"
              fill-opacity="1"
            />
            <g>
              <use
                xlink:href="#fqSzph1zk"
                opacity="0.9"
                fill-opacity="0"
                stroke="#0f0303"
                stroke-width="1"
                stroke-opacity="1"
              />
            </g>
          </g>
        </g>
      </g>
    </svg>
  </body>
</html>
